.a-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;;
    padding: 0.2rem 2rem;
    margin: 0 1rem 0 0;
    background-color: var(--color-gray-dark);
    border: 0;
    border-radius: var(--border-radius-small);
    outline: none;
    box-shadow: none;
    transition: background var(--animation-duration) ease;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;

    &.is-active,
    &:hover {
        border: 0;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        color: var(--color-white);
    }

    @media screen and (min-width: 991px) {
        padding: 1rem 2rem;
    }
    
    &--primary {
        background-color: var(--color-primary);

        &.is-active,
        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
    
    &--secondairy {
        background-color: var(--color-secondary);

        &.is-active,
        &:hover {
            background-color: var(--color-secondary-hover);
        }
    }

    &--ghost {
        background-color: transparent;
        border: solid 1px var(--color-gray);
        color: var(--color-gray);

        &.is-active,
        &:hover {
            border-color: var(--color-gray-light);
            border: solid 1px var(--color-gray-light);
        }
    }

    &--inline {
        position: relative;
        min-width: 0;
        padding: 0;
        background-color: transparent;
        color: var(--font-color);

        &::before {
            position: absolute;
            left: 0;
            bottom: 0;
            transition: width var(--animation-duration) ease-in-out;
            width: 0;
            height: 0.2rem;
            background-color: var(--color-primary);
            content: '';
        }

        &:hover {
            color: var(--font-color);

            &::before {
                width: 100%;
            }
        }

        @media screen and (min-width: 991px) {
            padding: 0;
        }
    }
}