.o-app {
    display: grid;
    grid-template-columns: 400px 1fr;
    min-height: 100vh;

    &__sidebar {
        padding: calc(var(--gutter-width) / 2);
        background-color: var(--color-gray-darkest);
    }

    &__main {
        padding: var(--gutter-width);
    }
}