.m-checkbox-label {
  $self: &;

  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: var(--border-radius-small);
  background-color: var(--color-gray-darkest);
  color: var(--color-white);
  cursor: pointer;

  &__input {
    &--hidden {
      display: none;

      &:checked {
        + #{$self}__input--custom {
          background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%239AC836' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");

          + #{$self}__title {
            opacity: 1;
          }
        }

      }
    }

    &--custom {
      width: 1.2rem;
      height: 1.2rem;
      margin-top: -0.2rem;
      margin-right: 1rem;
      border-radius: 0.2rem;
      background-color: var(--color-gray-dark);
    }
  }

  &__title {
    opacity: 0.5;
    transition: opacity var(--animation-duration) ease;
  }

  &:hover {
    #{$self}__title {
      opacity: 1;
    }
  }
}