.m-snippets-menu {
  $self: &;

  &__listing {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: calc(var(--gutter-width) / 4);

    &.list-enter-active,
    &.list-leave-active {
      transition: all var(--animation-duration) ease;
    }

    &.list-enter-from,
    &.list-leave-to {
      opacity: 0;
      transform: translateX(-3rem);
    }
  }

  &__link {
    display: block;
    padding: calc(var(--gutter-width) / 4) calc(var(--gutter-width) / 2);
    border-radius: var(--border-radius);
    font-weight: 600;
    color: var(--color-white);
    transition: background-color 250ms ease, color 250ms ease;

    &.is-active,
    &:hover {
      background-color: var(--color-gray-dark);
      text-decoration: none;
      color: var(--color-primary);

      #{$self}__category {
        color: var(--color-white);
        border-color: var(--color-white);
      }
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0 0 0;
  }

  &__category {
    display: inline-flex;
    padding: 0.1rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius-small);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-white);
    transition: border-color 250ms ease, color 250ms ease;

    &--css {
      border-color: var(--color-css);
      color: var(--color-css);
    }

    &--javascript {
      border-color: var(--color-js);
      color: var(--color-js);
    }

    &--vue {
      border-color: var(--color-vue);
      color: var(--color-vue);
    }
  }
}