.m-tag-label {
  $self: &;

  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
  transition: all var(--animation-duration) ease;
  cursor: pointer;

  &:hover {
    #{$self}__input--custom {
      background-color: var(--color-gray-darkest);
      border-color: var(--color-white);
    }

    #{$self}__title {
      color: var(--color-white);
    }
  }

  &__input {
    &--hidden {
      display: none;

      &:checked {
        + #{$self}__input--custom {
          background-color: var(--color-primary);
          border-color: var(--color-primary);

          + #{$self}__title {
            color: var(--color-white);
          }
        }

      }
    }

    &--custom {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      border: 2px solid rgba(255, 255, 255, 0.5);
      background-color: var(--color-gray-dark);
      transition: all var(--animation-duration) ease;
    }
  }

  &__title {
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    transition: color var(--animation-duration) ease;
  }
}